<%- include('partials/header'); -%>
<form action="/register" method="POST">
    <h2>REGISTER</h2>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button class="btn  btn-primary">register</button>
</form>
<%- include('partials/footer'); -%>